.flex {
  display: flex;
}

.flexHCenter{
  composes: flex;
  justify-content: center;
}

.flexVCenter {
  composes: flex;
  align-items: center;
}

.flexCenter {
  composes: flexVCenter;
  composes: flexHCenter;
}